<a href="https://colab.research.google.com/github/jason96819/Studying/blob/main/Coding_Algorithm/Coding_240713.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#2024년 7월 13일 토요일

타겟 넘버

https://school.programmers.co.kr/learn/courses/30/lessons/43165

##문제 설명

n개의 음이 아닌 정수들이 있습니다. 이 정수들을 순서를 바꾸지 않고 적절히 더하거나 빼서 타겟 넘버를 만들려고 합니다. 예를 들어 [1, 1, 1, 1, 1]로 숫자 3을 만들려면 다음 다섯 방법을 쓸 수 있습니다.

    -1+1+1+1+1 = 3
    +1-1+1+1+1 = 3
    +1+1-1+1+1 = 3
    +1+1+1-1+1 = 3
    +1+1+1+1-1 = 3

사용할 수 있는 숫자가 담긴 배열 numbers, 타겟 넘버 target이 매개변수로 주어질 때 숫자를 적절히 더하고 빼서 타겟 넘버를 만드는 방법의 수를 return 하도록 solution 함수를 작성해주세요.

## 제한 사항

- 주어지는 숫자의 개수는 2개 이상 20개 이하입니다.
- 각 숫자는 1 이상 50 이하인 자연수입니다.
- 타겟 넘버는 1 이상 1000 이하인 자연수입니다.

## 입출력 예

![image.png]()

## 입출력 예 설명

입출력 예 #1

문제 예시와 같습니다.

----

입출력 예 #2

    +4+1-2+1 = 4
    +4-1+2-1 = 4

총 2가지 방법이 있으므로, 2를 return 합니다.

## 문제 풀이

In [1]:
numbers = [1,1,1,1,1]
target = 3

In [2]:
numbers = [4,1,2,1]
target = 4

In [9]:
leaves = [0]
cnt = 0

In [10]:
# 모든 경우의 수 구하기
for num in numbers:
    temp = []
    for leaf in leaves:
        temp.append(leaf + num)
        temp.append(leaf - num)
    leaves = temp
leaves

[8, 6, 4, 2, 6, 4, 2, 0, 0, -2, -4, -6, -2, -4, -6, -8]

In [11]:
# 모든 경우의 수 계산 후 target과 같은지 확인
for leaf in leaves:
    if leaf == target:
        cnt += 1
cnt

2

In [12]:
# 최종답

def solution(numbers, target):
  leaves = [0]
  count = 0

  for num in numbers :
    temp = []

    for leaf in leaves :
      temp.append(leaf + num)
      temp.append(leaf - num)

    leaves = temp

  for leaf in leaves :
    if leaf == target :
      count += 1

  return count