<a href="https://colab.research.google.com/github/jason96819/Studying/blob/main/Coding_Algorithm/Coding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1일 1코딩 알고리즘 연습

## 24년 3월 21일 목요일

추억 점수 - https://school.programmers.co.kr/learn/courses/30/lessons/176963

사진들을 보며 추억에 젖어 있던 루는 사진별로 추억 점수를 매길려고 합니다. 사진 속에 나오는 인물의 그리움 점수를 모두 합산한 값이 해당 사진의 추억 점수가 됩니다. 예를 들어 사진 속 인물의 이름이 ["may", "kein", "kain"]이고 각 인물의 그리움 점수가 [5점, 10점, 1점]일 때 해당 사진의 추억 점수는 16(5 + 10 + 1)점이 됩니다. 다른 사진 속 인물의 이름이 ["kali", "mari", "don", "tony"]이고 ["kali", "mari", "don"]의 그리움 점수가 각각 [11점, 1점, 55점]]이고, "tony"는 그리움 점수가 없을 때, 이 사진의 추억 점수는 3명의 그리움 점수를 합한 67(11 + 1 + 55)점입니다.

그리워하는 사람의 이름을 담은 문자열 배열 name, 각 사람별 그리움 점수를 담은 정수 배열 yearning, 각 사진에 찍힌 인물의 이름을 담은 이차원 문자열 배열 photo가 매개변수로 주어질 때, 사진들의 추억 점수를 photo에 주어진 순서대로 배열에 담아 return하는 solution 함수를 완성해주세요.

In [1]:
# 내가 풀이 한 답.

def solution(name, yearning, photo):

    no_dict = dict(zip(name, yearning))

    for k in range(len(photo)):
        for i in range(len(photo[k])):
            if photo[k][i] in no_dict:
                for j in range(len(no_dict)):
                    if photo[k][i] == list(no_dict.keys())[j]:
                        photo[k][i] = list(no_dict.values())[j]
            else:
                photo[k][i] = 0

    answer = []

    for i in range(len(photo)):
        answer.append(sum(photo[i]))

    return answer

In [ ]:
# 전문가 1
def solution(이름, 점수, 사진):
    return [sum(점수[이름.index(j)] for j in i if j in 이름) for i in 사진]

In [ ]:
# 전문가 2
def solution(name, yearning, photo):
    dictionary = dict(zip(name,yearning))
    scores = []
    for pt in photo:
        score = 0
        for p in pt:
            if p in dictionary:
                score += dictionary[p]
        scores.append(score)
    return scores

## 24년 3월 22일 금요일

데이터 분석 - https://school.programmers.co.kr/learn/courses/30/lessons/250121
AI 엔지니어인 현식이는 데이터를 분석하는 작업을 진행하고 있습니다. 데이터는 ["코드 번호(code)", "제조일(date)", "최대 수량(maximum)", "현재 수량(remain)"]으로 구성되어 있으며 현식이는 이 데이터들 중 조건을 만족하는 데이터만 뽑아서 정렬하려 합니다.

예를 들어 다음과 같이 데이터가 주어진다면

data = [[1, 20300104, 100, 80], [2, 20300804, 847, 37], [3, 20300401, 10, 8]]
이 데이터는 다음 표처럼 나타낼 수 있습니다.

code	date	maximum	remain
1	20300104	100	80
2	20300804	847	37
3	20300401	10	8
주어진 데이터 중 "제조일이 20300501 이전인 물건들을 현재 수량이 적은 순서"로 정렬해야 한다면 조건에 맞게 가공된 데이터는 다음과 같습니다.

data = [[3,20300401,10,8],[1,20300104,100,80]]
정렬한 데이터들이 담긴 이차원 정수 리스트 data와 어떤 정보를 기준으로 데이터를 뽑아낼지를 의미하는 문자열 ext, 뽑아낼 정보의 기준값을 나타내는 정수 val_ext, 정보를 정렬할 기준이 되는 문자열 sort_by가 주어집니다.

data에서 ext 값이 val_ext보다 작은 데이터만 뽑은 후, sort_by에 해당하는 값을 기준으로 오름차순으로 정렬하여 return 하도록 solution 함수를 완성해 주세요. 단, 조건을 만족하는 데이터는 항상 한 개 이상 존재합니다.

In [2]:
import pandas as pd

In [4]:
col_list = ['code', 'date', 'maximum', 'remain']
data = [[1, 20300104, 100, 80], [2, 20300804, 847, 37], [3, 20300401, 10, 8]]

df = pd.DataFrame(data=data, columns=col_list)
df

   code      date  maximum  remain
0     1  20300104      100      80
1     2  20300804      847      37
2     3  20300401       10       8

In [ ]:
def solution(data, ext, val_ext, sort_by):
    answer = [[]]
    return answer

In [34]:
ext = 'date'                                                             # ext를 숫자 매칭 시키기.
sort_by = "remain"

col_list = ['code', 'date', 'maximum', 'remain']

for i in range(len(col_list)):
    if ext == col_list[i]:
        s1 = i
    if sort_by == col_list[i]:
        s2 = i

print(s1)
print(s2)

1
3

In [35]:
for i in range(len(data)):
    print(data[i])

[1, 20300104, 100, 80]
[2, 20300804, 847, 37]
[3, 20300401, 10, 8]

In [36]:
for i in range(len(data)):
    print(data[i][s1])

20300104
20300804
20300401

In [37]:
val_ext = 20300501
answer = []

for i in range(len(data)):
    if data[i][s1] < val_ext:
        answer.append(data[i])
answer

[[1, 20300104, 100, 80], [3, 20300401, 10, 8]]

In [40]:
for i in range(len(answer)):
    print(answer[i][s2])

80
8

In [42]:
sorted_answer = sorted(answer, key=lambda x: x[s2])
sorted_answer

[[3, 20300401, 10, 8], [1, 20300104, 100, 80]]

In [43]:
## 최종 정답
def solution(data, ext, val_ext, sort_by):

    answer = []
    col_list = ['code', 'date', 'maximum', 'remain']

    for i in range(len(col_list)):
        if ext == col_list[i]:
            s1 = i                                          # 첫번째 기준 매칭
        if sort_by == col_list[i]:
            s2 = i                                          # 두번째 기준 매칭

    for i in range(len(data)):
        if data[i][s1] < val_ext:                   # 첫번째 기준보다 적은것
            answer.append(data[i])

    sorted_answer = sorted(answer, key=lambda x: x[s2])         # 두번째 기준으로 정렬, 내림차순은 reverse=True

    return sorted_answer

In [44]:
data = [[1, 20300104, 100, 80], [2, 20300804, 847, 37], [3, 20300401, 10, 8]]
ext = "date"
val_ext = 20300501
sort_by = "remain"

In [45]:
solution(data, ext, val_ext, sort_by)

[[3, 20300401, 10, 8], [1, 20300104, 100, 80]]

In [ ]:
# 전문가 1
def solution(data, ext, val_ext, sort_by):
    answer = []
    by = [ "code", "date", "maximum", "remain" ]

    for item in data:
        if item[by.index(ext)] < val_ext:                                               # 인덱스로 숫자 매칭
            answer.append(item)

    return sorted(answer, key=lambda x: x[by.index(sort_by)])