<a href="https://colab.research.google.com/github/jason96819/Studying/blob/main/Coding_Algorithm/Coding_240708.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#2024년 7월 8일 월요일

귤 고르기
https://school.programmers.co.kr/learn/courses/30/lessons/138476

##문제 설명

경화는 과수원에서 귤을 수확했습니다. 경화는 수확한 귤 중 'k'개를 골라 상자 하나에 담아 판매하려고 합니다. 그런데 수확한 귤의 크기가 일정하지 않아 보기에 좋지 않다고 생각한 경화는 귤을 크기별로 분류했을 때 서로 다른 종류의 수를 최소화하고 싶습니다.

예를 들어, 경화가 수확한 귤 8개의 크기가 [1, 3, 2, 5, 4, 5, 2, 3] 이라고 합시다. 경화가 귤 6개를 판매하고 싶다면, 크기가 1, 4인 귤을 제외한 여섯 개의 귤을 상자에 담으면, 귤의 크기의 종류가 2, 3, 5로 총 3가지가 되며 이때가 서로 다른 종류가 최소일 때입니다.

경화가 한 상자에 담으려는 귤의 개수 k와 귤의 크기를 담은 배열 tangerine이 매개변수로 주어집니다. 경화가 귤 k개를 고를 때 크기가 서로 다른 종류의 수의 최솟값을 return 하도록 solution 함수를 작성해주세요.

제한사항
- 1 ≤ k ≤ tangerine의 길이 ≤ 100,000
- 1 ≤ tangerine의 원소 ≤ 10,000,000

입출력 예

![image.png]()

입출력 예 설명

---

입출력 예 #1

본문에서 설명한 예시입니다.

---

입출력 예 #2

경화는 크기가 2인 귤 2개와 3인 귤 2개 또는 2인 귤 2개와 5인 귤 2개 또는 3인 귤 2개와 5인 귤 2개로 귤을 판매할 수 있습니다.

이때의 크기 종류는 2가지로 이 값이 최소가 됩니다.

---

입출력 예 #3

경화는 크기가 1인 귤 2개를 판매하거나 2인 귤 2개를 판매할 수 있습니다.

이때의 크기 종류는 1가지로, 이 값이 최소가 됩니다.

## 문제 풀이

아이디어 : 귤을 소거할 때 해당 크기의 귤이 적은 개수부터 없애는게 포인트.

종류를 최대한 적게 담아야하기 때문에. 따라서 귤의 크기 별 개수만 구하면 끝.

예제 1

In [31]:
tangerine = [1, 3, 2, 5, 4, 5, 2, 3]
k = 6

tangerine 리스트에서 딕셔너리로 자료형을 변환해줍니다.

그 후, 리스트에서 중복을 제외한 값들을 key로 그리고, key값의 cnt를 value로 저장해줍니다.

In [32]:
t_dic = {}                              # 빈 딕셔너리 생성

for i in tangerine:                     # tangerine 리스트를 반복문으로 순회
    a = t_dic.get(i)                    # t_dic 딕셔너리에서 key 값이 i인 요소를 가져와 a 변수에 할당합니다.

    if a == None:                       # 만약 a 변수가 None이라면 t_dic의 key 값인 i의 value를 1로 반환해줍니다.
        t_dic[i] = 1
    else:
        t_dic[i] += 1                   # 만약 값이 있으면 기존 값에 +1 해줍니다. (cnt)
t_dic

{1: 1, 3: 2, 2: 2, 5: 2, 4: 1}

그래서 t_dic을 완성시켰습니다. 하지만 정렬이 제대로 되지 않습니다. value 값만 정렬해주겠습니다.

In [33]:
t_dic = sorted(t_dic.values(), reverse=True)
t_dic

[2, 2, 2, 1, 1]

이제 k값과 비교하여 result를 출력하면 다음과 같습니다.

In [39]:
cnt, answer = 0, 0

for i in t_dic:
    print("딕셔너리의 value 값 :\t",i)
    cnt += i
    print("귤의 종류별 갯수 :\t",cnt)
    answer += 1
    print("reuslt 결과 :\t\t",answer)
    print('='*27)
    if k <= cnt:
        break

딕셔너리의 value 값 :	 2
귤의 종류별 갯수 :	 2
reuslt 결과 :		 1
===========================
딕셔너리의 value 값 :	 2
귤의 종류별 갯수 :	 4
reuslt 결과 :		 2
===========================
딕셔너리의 value 값 :	 2
귤의 종류별 갯수 :	 6
reuslt 결과 :		 3
===========================

In [40]:
# 최종답

def solution(k, tangerine):
    t_dic = {}

    for i in tangerine:
        a = t_dic.get(i)

        if a == None:
            t_dic[i] = 1
        else:
            t_dic[i] += 1

    t_dic = sorted(t_dic.values(), reverse=True)

    cnt, answer = 0, 0

    for i in t_dic:
        cnt += i
        answer += 1
        if k <= cnt:
            break

    return answer

In [43]:
example_list_0 = [1, 3, 2, 5, 4, 5, 2, 3]
example_k_0 = 4

example_list_1 = [1, 1, 1, 1, 2, 2, 2, 3]
example_k_1 = 2

In [44]:
solution(example_k_0, example_list_0)

2

In [45]:
solution(example_k_1, example_list_1)

1